.app-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title-container {
  background-color: #e8f5e9;
  border: 2px solid #4caf50;
  padding: 0.08rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  text-align: center;
}

.title {
  font-family: CoFo Sans, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.info-message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: #fff3cd;
  color: #856404;
  padding: 1rem;
  border: 1px solid #ffeeba;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1rem;
}

.content-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  height: 500px;
}

.map-container {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.chart-container {
  flex: 1;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.chart-container svg {
  width: 95%;
  height: 100%;
  margin-left: 5%;
}

.chart-container p {
  color: #777;
  font-size: 1rem;
}

.average-container {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
}

.average-container p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #2f2c2c;
}

.section-title {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: left;
  padding: 0.5rem;
  border-radius: 5px;
}

.slider-container {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#slider-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
